body {
    background-color: rgb(240, 235, 235);
}
/*----Header-----------------------------------------------------*/
.Logo {
    height: 40px;
    width: 40px;
    margin-top: 8px;
    margin-left: 11px;
}
.logoImg {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width:60px;
    height:60px;
    align-content: center;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 45px;
}
.button1 {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    outline: none ;
}
h1 {
    margin-top: 18px;
    font-size: 27px;
}
header, .mainPedidos {
    display:inline-flex;
    align-content: center;
}
header {
    background-color: #B23A48;
    height: 75px;
    color:rgb(255, 255, 255);
}

/*-------------------------------------------Nav Bar---------------*/
.headerLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divLogo{
  display: flex;
    flex-direction: row;
}
.btnHeader{
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:400px;
}
.btnHeaderCocina{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:4vw;
}
.btnHeader1{
  background-color: #B23A48;
  width: 150px;
  padding: 5px;
  height: 50px;
  outline:none;
  border-style: hidden;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top:10px;
  margin-left: 20px;
}
.btnHeader2{
  background-color: #B23A48;
  width: 60px;
  padding: 5px;
  height: 50px;
  outline:none;
  border-style: hidden;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top:10px;
  margin-left: 20px;
}
.btnHeader3{
  background-color: #B23A48;
  width: 200px;
  padding: 5px;
  height: 50px;
  outline:none;
  border-style: hidden;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top:10px;
  margin-left: 20px;
}
.btn-log-out {
  width:35px;
  height: 35px;
  margin-left: 20px;
}


section {
    max-width: 100vw;
    background-color: rgb(240, 235, 235);
}


/*-------------order.js-------------------------------------*/
.order {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 10px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-color:rgb(201, 194, 194);
    border-style: solid;
    border-width: 2px;
}
.orderHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
.inLine {
    display: flex;
    flex-direction: row;
}
.inLineSpace {
    margin-right: 20px;
}

/*--------------------menu.js (mostrar items)-------------------------------------*/
.menuSection {
    background-color: rgb(240, 235, 235);
    padding: 5px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}
.listItems {
    list-style-type: none;
    display:flex;
    height: 200px;
    width:90vw;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
    overflow-x:hidden;
}
.menuItem {
    width: 190px;
    height: 75px;
    margin: 5px;
    background-color:rgb(201, 194, 194);
    color: #2e374b;
    padding: 5px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border-radius: 8px;
    flex-shrink: 0;
}
.menuItem:hover,
.menuItem:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.divNameItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}
.divImgItem {
    display: flex;
    justify-content: center;
}
.imgItem {
    width: 65px;
    height:65px;
    margin:5px;
}

.menuHeader {
    width: 90vw;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}
.btnMenuType {
    background-color: rgb(240, 235, 235);
    width: 15vw;
    padding: 5px;
    height: 55px;
    border-style: hidden;
    color: rgb(44, 44, 44);
    font-weight: bold;
    font-size: 18px;
    border-bottom: rgb(177, 175, 175);
    border-bottom-style: solid;
    border-width: 2.5px;
    outline: none ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btnMenuType:first-child {
    color: #B23A48;
}
/*
.btnMenuType:hover,
.btnMenuType:focus {
    background-color: rgb(177, 175, 175);
}
*/

/*-------------------order.js (items seleccionados)--------------------------*/
.listSelectedItems {
    font-size: large;
    list-style-type: none;
    display:flex;
    flex-direction:column;
    width:75vw;
    flex-wrap: wrap;
    padding-inline-start: 10px;
}
.selectedItem {
    margin: 10px;
    width:85vw;
    color: #2A2D34;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.divSelectedItem {
    width:130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divSelectedItemT {
    width:130px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divSelectedItem:first-child {
    width:230px;
    justify-content: flex-start;
}
.divSelectedItemT:first-child {
    width:230px;
    font-weight: bold;
    justify-content: flex-start;
}
span {
    margin-right: 5px;
} 
h2 {
    color: #2A2D34;
    margin-top: 0px;
    margin-bottom: 5px;
} 
.btnSend {
    background-color: #5C946E;
    width: 170px;
    padding: 10px;
    height: 50px;
    margin-right:20px;
    outline-color: #5C946E;
    border-color: #5C946E;
    border-style: hidden;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
}
.deleteBtn {
    width: 25px;
    height: 25px;
}
.iconBtn {
    width: 25px;
    height: 25px;
}
.iconLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nameCategory {
    position: relative;
    top: 10px;
}
.inputCliente{
    outline: none;
    background-color: rgba(255, 255, 255, 0.767);
    border:0;
    border-bottom: 2.5px solid rgb(177, 175, 175);
    font-size: 16px;
    font-style: italic;
    color:rgb(177, 175, 175);
}


/*----------------vistaPedidosListos.js------------------------------*/
.orderSpace {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(240, 235, 235);
}
.divSingleOrder {
    margin: 15px;
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.767);
}
.divSingleOrder button {
    color: white;
    font-size: 19px;
    outline: none;
    border-style: hidden;
    height:35px;
    border-radius: 20px;
}
.dateOrder{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    margin-bottom: 15px;
}
.divEstadoPreparación {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divPreparación {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divListo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tiempoListo {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: hidden;
    border-color: grey;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 130px;
}
.divListo button {
    width: 130px;
}

/*-----------------------cocina.js (pedidos en preparación)------------------*/
.btnPreparacion{
    background-color: rgba(141, 138, 138, 0.842);
    color: white;
    font-size: 19px;
    outline: none;
    border-style: hidden;
    height:35px;
    border-radius: 12px;
    margin-top: 15px;
}
.btnPreparacion:hover{
    background-color: darkgreen;
}
.btnPreparado{
    background-color: darkgreen;
    color: white;
    font-size: 19px;
    outline: none;
    border-style: hidden;
    height:35px;
    border-radius: 12px;
}
.viewCocina{
    width:100vw;
    display: flex;
    flex-direction: column;
}
.mainCocina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:40px;
}
.orderCocina {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(240, 235, 235);
    padding-inline-start: 0%;
}
.divOrderCocina {
    margin: 15px;
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    border-color:rgb(201, 194, 194);
    border-style: solid;
    background-color:rgba(255, 255, 255, 0.87);
    color: #2e374b;
    border-width: 2px;
}
.btnSendToMesero{
    background-color: rgba(141, 138, 138, 0.842);
    color: white;
    font-size: 19px;
    outline: none;
    border-style: hidden;
    height:60px;
    border-radius: 20px;
}
.btnSendToMesero:hover{
    background-color: firebrick;
}
.spanOrder{
    margin-bottom: 10px;
    margin-top: 10px;
}
.btnListo {
    background-color:firebrick;
    color: white;
    font-size: 19px;
    outline: none;
    border-style: hidden;
    height:60px;
    border-radius: 20px;
}
.tiempoListoCocina {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: hidden;
    border-color: grey;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 270px;
}
.heightOrder{
    height:220px;
}

/*---------------------------notificaciones Mesero----------*/
.notif {
    background-color: white;
    color: #B23A48;
    padding:5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    font-size: 15px;
    position: relative;
    top:12px;
    left:-5px;
    text-align: center;
}
.notif span{
    position: relative;
    left:3px;
    top:-3px;
    font-weight: bold;
}
.listoNotif{
    display: flex;
    flex-direction: row;
}

/*-------------------------vista Registro & Inicio de sesión----------------------*/

  .DivLogo{
    background-color: #B23A48;
    width: 60vw;
    height: 75px;
    color:rgb(255, 255, 255);
  }
  .Ingresar {
    box-shadow: 7px 0px 14px 0px rgba(4, 109, 31, 0.2);
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
    width: 60%;
    padding: 20px;
}
  .logo{
      align-content: center;
  }
 .Titulo h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    
  } 
  .InicioSesion{
    margin: 0px;
    font-size: 13px;
    font-family: "Lato", sans-serif;
  }
  .btnPreparacion{
    background-color: rgb(153, 149, 149);
  }
  .btnPreparado{
    background-color: darkgreen;
  }
  .btnSendToMesonero{
      background-color: firebrick;
  }
  .user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
    max-width: 400px;
    margin: 0 auto;
  }

  .user input{
    margin-bottom: 15px;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
  }

.botonIngresarMesero{
    background: #f39509;
    border: none;
    border-radius: 10px;
    padding: 7px 80px;
   margin-bottom: 20px; 
    color: black;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    height: 35px;
    font-size: large;
  
}

.botonIngresarCocina{
    background:green;
    border: none;
    border-radius: 10px;
    padding: 7px 80px;
   /*  margin-bottom: 30px; */
   
    color: black;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: large;
   
}

/* .DivLogo{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    align-content: center;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 45px;
} */
/*
  h2{
    font: oblique bold 120% cursive;
    margin-bottom: 20px;
    text-align:center;
    margin-top: 20px;
    font-size: x-large;
  }
*/

/*--------------------------signUp--------------------------------*/
.signUpBody{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.87);
    margin-top: auto;
    margin-bottom: auto;
}
form h2{
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 25px;
}
.signUpMain {
    display: flex;
    flex-direction: row;
    width:70vw;
    height: 70vh;
    margin-top: auto;
    margin-bottom: auto;
}

.signUpSection1 {
    width:55%;
    background-image: url('signUpPic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: fixed;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.signUpSection1 h1 {
    color: whitesmoke;
    margin-top: 25vh;
    font-size: 50px;
}
.signUpSection2 {
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.87);
}
.signUpSection2 input {
    width:60%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    background-color: rgba(255, 255, 255, 0.87);
    border:0;
    border-bottom: 2.5px solid rgb(177, 175, 175);
    font-size: 16px;
    color:rgb(177, 175, 175);
    padding-bottom: 7px;
    margin-bottom: 20px;
}
.divInputRadio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width:60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.inputRadios {
    background-color: rgba(255, 255, 255, 0.87);
    display: block;
    position: relative;
}
.inputRadios label {
        padding: 12px 10px 12px 100px;
        display: block;
        text-align: left;
        color: #3C454C;
}
.divInputRadio input:checked ~ label {
    color: #fff;
    background-color: #54E0C7;
    border-color: #54E0C7;
  }

.divInputRadio input{
        width: 25px;
        height: 25px;
        order: 1;
        z-index: 2;
        position: absolute;
        left: 30px;
        top: 45%;
        transform: translateY(-50%);
        cursor: pointer;
}
.submitForm{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border-style: hidden;
    background-color: #B23A48;
    height:50px;
    color:white;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 25px;
}

/*------------------Tablet----------------------------------------------------*/
@media only screen and (max-width: 1025px) {
    .menuSection {
        margin-left: 0%;
        margin-right: 0%;
    }
    .menuHeader {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 15px;
        height:200px;
        margin-left: 0%;
        margin-right: 20px;
        justify-content: flex-start;
    }
    .btnMenuType {
        width: 30vw;
        height: 20px;
        border-style: hidden;
        color: rgb(44, 44, 44);
        font-weight: bold;
        font-size: 18px;
        border-bottom: rgb(177, 175, 175);
        border-bottom-style: hidden;
        outline: none ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
    }
    .menuItem {
        font-size: 20px;
        height: 100px;
        width: 220px;
    }
    .listItems{
        margin:0%;
        height: 250px;
        width:95vw;
        padding-inline-start: 20px;
    }
    .header{
        font-size: 18px;
    }
    .listSelectedItems{
        font-size: 20px;
        width:75vw;
        padding-inline-start: 0px;
    }
    .selectedItem {
        width:90vw;
    }
    /*----------signUp----------------*/
    .signUpMain {
        display: flex;
        flex-direction: column;
        width:80vw;
        height: 80vh;
        margin-top: auto;
        margin-bottom: auto;
    }
    .signUpSection1{
        width:100%;
        height: 20%;
    }
    .signUpSection1 h1{
        margin-top: 45px;
        font-size: 35px;
        display: flex;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    .signUpSection2{
        width:100%;
        font-size: 20px;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.87);
    }
    .signUpSection2 input{
        font-size: 20px;
        margin-bottom: 15px;
    }
    form{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    form h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .submitForm{
        font-size: 20px;
        margin-bottom: 0%;
    }
  } 
  
  
/*-------------------Movil-----------------------------------*/
@media only screen and (max-width: 730px) {
    h1{
        display: none;
    }
    .btn-log-out{
        width:30px;
        height: 30px;
    }
    .btnHeader1{
        font-size: 15px;
        width:75px;
        text-align: left;
    }
    .btnHeader2{
        font-size: 15px;
        width:45px;
    }
    .logoImg{
        width:50px;
        height: 50px;
        margin-left: 15px;
    }
    .Logo{
        width:35px;
        height: 35px;
        margin-left: 8px;
    }
    .headerLogo{
        height:65px;
    }
    .menuSection {
        margin-left: 0%;
        margin-right: 0%;
    }
    .menuHeader {
        width: 85vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 15px;
        height:150px;
        margin-right: 0%;
        margin-left: 20px;
        justify-content: flex-start;
    }
    .btnMenuType {
        width: 42vw;
        height: 15px;
        border-style: hidden;
        color: rgb(44, 44, 44);
        font-weight: bold;
        font-size: 15px;
        border-bottom: rgb(177, 175, 175);
        border-bottom-style: hidden;
        outline: none ;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .btnMenuType .iconLogo{
        width:30px;
        height: 30px;
    }
    .menuItem {
        font-size: 15px;
        height: 70px;
        width: 180px;
    }
    .listItems{
        margin:0%;
        height: 250px;
        width:95vw;
        padding-inline-start: 20px;
    }
    .header{
        font-size: 18px;
    }
    .listSelectedItems{
        font-size: 15px;
        width:75vw;
        padding-inline-start: 0px;
    }
    .selectedItem {
        width:90vw;
    }
    .order{
        width:90vw;
        padding:5px;
        font-size: 12px;
    }
    .orderHeader{
        flex-direction: column;
    }
    .inLineSpace{
        margin-top: 10px;
        margin-bottom: 8px;
    }
    .inputCliente{
        font-size: 12px;
    }
    .deleteBtn{
        width:20px;
        height: 20px;
    }
    .iconBtn{
        width:20px;
        height: 20px;
    }
    .btnSend{
        font-size: 15px;
    }
    /*---------------pedidos listos Mesero-------*/
    .divOrderCocina{
        font-size: 15px;
    }
    .btnPreparado{
        font-size: 15px;
    }
    .btnSendToMesero{
        font-size: 15px;
    }
    /*---------------------cocina---------------*/
    .btnHeader3{
        font-size: 15px;
        width:50px;
        margin-left: 40px;
    }
    .btnPreparacion{
        font-size: 15px;
    }
    /*----------signUp----------------*/
    .signUpMain {
        display: flex;
        flex-direction: column;
        width:80vw;
        height: 80vh;
        margin-top: auto;
        margin-bottom: auto;
    }
    .signUpSection1{
        width:100%;
        height: 20%;
    }
    .signUpSection1 h1{
        margin-top: 20px;
    }
    .signUpSection2{
        width:100%;
        font-size: 15px;
        height: 80%;
    }
    .signUpSection2 input{
        font-size: 15px;
        margin-bottom: 10px;
    }
    form{
        width: 90%;
    }
    form h2{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .submitForm{
        font-size: 15px;
        height: 35px;
        width: 60%;
    }
    .divInputRadio label{
        width:60%;
        font-size: 15px;
    }
    .divInputRadio input{
        left: 15px;
    }
    .inputRadios label {
        padding: 12px 10px 12px 60px;
    }
}
