.Logo {
    height: 60px;
    width: 60px;
    margin-top: 8px;
    margin-left: 13px;
}

.logoImg {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width:80px;
    height:80px;
    align-content: center;
    margin-top: 12px;
    margin-right: 15px;
    margin-left: 45px;
}

h1 {
    margin-top: 30px;
}

header, .mainPedidos {
    display:inline-flex;
    align-content: center;
}

header {
    background-color: #B23A48;
    width: 100vw;
    height: 105px;
    color:rgb(255, 255, 255);
}

section {
    width: 100vw;
}

.order {
    width: 90vw;
    margin-left: 50px;
    border-top: black;
    border-top-style: solid;
}

.menu {
    background-color: white;
}

.listItems {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    width:90vw;
    flex-wrap: wrap;
}


.menuItem {
    width: 150px;
    height: 80px;
    margin: 10px;
    background-color: #dcdee0;
    color: #2A2D34;
    padding: 10px;
    border-radius: 15px;
}

.imgItem {
    width: 68px;
    height:50px;
}

.listSelectedItems {
    list-style-type: none;
    display:flex;
    flex-direction:column;
    width:90vw;
    flex-wrap: wrap;
}

.selectedItem {
    margin: 10px;
    width:60vw;
    color: #2A2D34;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.nameSelectedItem {
    width:250px;
}

span {
    margin-right: 5px;
} 

h2 {
    color: #2A2D34;
    margin-top: 30px;
} 

.menuHeader {
    margin-left: 50px;
    width: 450px;
}

.btnMenuType {
    background-color: #F17F29;
    width: 170px;
    padding: 10px;
    height: 50px;
    margin-right:20px;
    outline-color: #F17F29;
    border-color: #F17F29;
    border-style: hidden;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
}

.btnSend {
    background-color: #5C946E;
    width: 170px;
    padding: 10px;
    height: 50px;
    margin-right:20px;
    outline-color: #5C946E;
    border-color: #5C946E;
    border-style: hidden;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
}

.deleteBtn {
    width: 20px;
    height: 20px;
}

/* .vistaTodo {
    width: 50PX;
    height: 50px;
} */
/* @media only screen and (min-width: 300px) {
    .vistaTodo {
      min-height: 350px;
    }
  } */