body {
    background-color: rgb(240, 235, 235);
}


.Logo {
    height: 40px;
    width: 40px;
    margin-top: 8px;
    margin-left: 11px;
}

.logoImg {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width:60px;
    height:60px;
    align-content: center;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 45px;
}

.button1 {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    outline: none ;
}

h1 {
    margin-top: 18px;
    font-size: 27px;
}

header, .mainPedidos {
    display:inline-flex;
    align-content: center;
}

header {
    background-color: #B23A48;
    width: 100vw;
    height: 75px;
    color:rgb(255, 255, 255);
}

section {
    max-width: 100vw;
    background-color: rgb(240, 235, 235);
}

.order {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 10px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.orderHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.inLine {
    display: flex;
    flex-direction: row;
}

.inLineSpace {
    margin-right: 20px;
}


.menuSection {
    background-color: rgb(240, 235, 235);
    padding: 5px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;

}

.listItems {
    list-style-type: none;
    display:flex;
    height: 200px;
    width:90vw;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
    overflow-x:hidden;
}

.menuItem {
    width: 190px;
    height: 75px;
    margin: 5px;
    background-color:rgb(201, 194, 194);
    color: #2e374b;
    padding: 5px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border-radius: 8px;
    flex-shrink: 0;
}

.menuItem:hover,
.menuItem:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.divNameItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.divImgItem {
    display: flex;
    justify-content: center;
}

.imgItem {
    width: 65px;
    height:65px;
    margin:5px;
}

.listSelectedItems {
    font-size: large;
    list-style-type: none;
    display:flex;
    flex-direction:column;
    width:85vw;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


.selectedItem {
    margin: 10px;
    width:85vw;
    color: #2A2D34;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.divSelectedItem {
    width:130px;
}

.divSelectedItemT {
    width:130px;
    font-weight: bold;
}

.divSelectedItem:first-child {
    width:230px;
}

.divSelectedItemT:first-child {
    width:230px;
    font-weight: bold;
}

span {
    margin-right: 5px;
} 

h2 {
    color: #2A2D34;
    margin-top: 0px;
    margin-bottom: 5px;
} 

.menuHeader {
    width: 90vw;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}

.btnMenuType {
    background-color: rgb(240, 235, 235);
    width: 15vw;
    padding: 5px;
    height: 55px;
    border-style: hidden;
    color: rgb(44, 44, 44);
    font-weight: bold;
    font-size: 18px;
    border-bottom: rgb(177, 175, 175);
    border-bottom-style: solid;
    border-width: 2.5px;
    outline: none ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnMenuType:first-child {
    color: #B23A48;
}
/*
.btnMenuType:hover,
.btnMenuType:focus {
    background-color: rgb(177, 175, 175);
}
*/
.btnSend {
    background-color: #5C946E;
    width: 170px;
    padding: 10px;
    height: 50px;
    margin-right:20px;
    outline-color: #5C946E;
    border-color: #5C946E;
    border-style: hidden;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
}

.deleteBtn {
    width: 20px;
    height: 20px;
}

.iconBtn {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.iconLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nameCategory {
    position: relative;
    top: 10px;
}

/*---------------------------------------*/
.orderSpace {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(240, 235, 235);
}
.divSingleOrder {
    margin: 15px;
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.767);
    /*
    background-image: url(../img/streeFoodShot5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    */
}
.divSingleOrder button {
    color: white;
    font-size: 19px;
    outline: none;
    border-style: hidden;
    height:35px;
    border-radius: 20px;
}
.dateOrder{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    margin-bottom: 15px;
}
.divEstadoPreparación {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divListo {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.divListo button {
    width: 150px;
}
/* .vistaTodo {
    width: 50PX;
    height: 50px;
} */
@media only screen and (max-width: 1025px) {
    .menuHeader {
        width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 15px;
        height:200px;
        justify-content: center;
    }
    .btnMenuType {
        width: 25vw;
        height: 40px;
        border-style: hidden;
        color: rgb(44, 44, 44);
        font-weight: bold;
        font-size: 18px;
        border-bottom: rgb(177, 175, 175);
        border-bottom-style: hidden;
        outline: none ;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
  } 
  .btnPreparacion{
    background-color: rgb(153, 149, 149);
  }
  .btnPreparado{
    background-color: darkgreen;
  }
  .btnSendToMesonero{
      background-color: firebrick;
  }
